<div>
    <h3>Спасибо за ваш заказ</h3>
    <h4>Примерное время доставки: ~@ViewBag.deliveryTime минут </h4>
    <h5>Время заказа: @ViewBag.orderTime</h5>
    <h5>Адрес: @ViewBag.address</h5>
    <h5>Цена: @ViewBag.amount руб</h5>
</div>
